h2 {
  margin: 0 0 40px;
  text-align: center;
}

.example-main {
  position: relative;
  padding-top: 50px;
}

.example-main:before {
  content: " ";

  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  height: 300px;
  background-color: #3F51B5;

  z-index: -1;
}

.example-container {
  max-width: 1600px;
  width: calc(100% - 16px);
  margin: 0 auto;
}

.example-content {
  border-radius: 2px;
  padding: 56px;
  margin-bottom: 80px;
}

.example-layout.is-small-screen .example-content {
  padding: 40px 28px;
}

.example-gallery {
  text-align: center;
}

.example-gallery__img {
  display: inline-block;

  margin: 10px;

  width: 200px;
  height: 200px;

  cursor: pointer;
}
